@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  color: #ffffff;
  background: rgb(255, 255, 255);
}



a {
  color: #2D6CDF;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #2D6CDF;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
  color: #000;
  font-size: 18px;
}

h1{
  color: rgb(16, 55, 58);
  font-weight: 600;
  font-family: "Roboto Slab", serif;
}
 h2, h3, h4, h5, h6, figure {
  color: rgb(0, 0, 0);
  font-family:"Roboto Slab", serif;
  font-weight: 550;
  margin: 0 0 20px 0;
}




.abt-text{
 position:relative;top: 100px;
 text-align: center;
 font-size: 300px;

}
.containerimg{ 
  position:relative;top: 50px;
  text-align: center;
  width:auto;
}
.containernav{ 
  position:relative;top:20px;
  text-align: center;
  width:auto;
}
.centered{
  position:absolute;
  color:white ;
  top:70%;
  left:50%;
  transform: translate(-50%,-50%);
}





