


@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  color: #ffffff;
  background: rgb(255, 255, 255);
}



a {
  color: #2D6CDF;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #2D6CDF;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
  color: #000;
  font-size: 18px;
}

h1{
  color: rgb(241, 233, 233);
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}
 h2, h3, h4, h5, h6, figure {
  color: rgb(0, 0, 0);
  font-family:"Roboto Slab", serif;
  font-weight: 550;
  margin: 0 0 20px 0;
}


.titletxt h1{
  color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:65px;
  font-weight: bold;
  
  
}

.abt-text h2{
  position:relative;top:100px;
  text-align: center;
}
.abt-text p{
 position:relative;top:120px;
 text-align: center;
 font-family: Georgia, "Times New Roman", Times, serif;
 font-size: 18px;
  margin: 35px;
}


.containerimg{ 
  position:relative;
  text-align: center;
  width:auto;
}
.containernav{ 
  position:relative;top:20px;
  text-align: center;
  width:auto;
}
.centered{
  position:absolute;
  color:white ;
  top:60%;
  left:50%;
  transform: translate(-50%,-50%);
}


.events{
  text-align: center;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color:rgb(17, 33, 107);
  color: #fff;
 }
 .nav-links a {
  color: #fff;
 }
 /* LOGO */
 .logo {
  font-size: 32px;
  font-weight: bold;

 }
 /* NAVBAR MENU */
 .menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
 }
 .menu li:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease;
 }
 .menu li {
  padding: 5px 14px;
  list-style: none;
 }
 /* DROPDOWN MENU */
 .services {
  position: relative; 
 }
 .dropdown {
  background-color: rgb(1, 139, 139);
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
 }
 .dropdown li + li {
  margin-top: 10px;
 }
 .dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
 }
 .dropdown li:hover {
  background-color: #4c9e9e;
 }
 .services:hover .dropdown {
  display: block;
 }




 div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
